[Unit]
Description=vreflink host daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/vreflinkd -c /etc/vreflinkd/config.toml
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
